!!!
%html
  %body
    %center
      %h2 Size matter
      = form_with(url: 'short_urls/create', method: :post) do
        = label_tag(:original_url, 'Enter URL')
        = text_field_tag(:original_url)
        = submit_tag('Shorten!')
      = flash.present? ? flash[:notice].html_safe : nil
