!!!
%html
  %body
    %center
      = flash.present? ? flash[:notice].html_safe : nil
      %h2
        = link_to "original url: (#{original_url})", original_url, target: '_blank'
      %h2
        = link_to "short url: (#{short_url})", '/' + url.short_url, target: '_blank'
      %h2
        = link_to 'Return to main page', root_path
